<div class='ui teal inverted menu'>
  <div class='ui container'>
    <div class='ui center aligned icon header'>
      <i class='ambulance icon'></i>
        Unidade Basica de Saúde

    </div>
  </div>
</div>

