<div class="ui teal inverted menu">
  <div class="ui container">
    <div class='header item'>
      <i class="user md icon"></i>
      <i class="stethoscope icon"></i>
      UBS
    </div>
  </div>
</div>